@model IEnumerable<ApexLegendsTeamBuilder.Models.ApexLegend>

@{
    ViewData["Title"] = "Index";
}

<h1>Database Manager</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LegendName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LegendType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LegendName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LegendType)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LegendId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LegendId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LegendId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
